# Node.js
node_modules/
npm-debug.log*
.env

# C++ Binaries
# Ignore all files in engine/ except .cpp and .h files
!engine/*.cpp
!engine/*.h
!engine/*.hpp
engine/smart-monitor
engine/leaker
*.o
*.a
*.so

# OS files
.DS_Store
Thumbs.db

# Misc
notes.md

# --- Databases
*.sqlite
*.db
*.db-journal